.copyright {
background-color: #7a1258;
}
.fixed {
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
}
.content-grey {
    background-color: #f110a6;
}
hr {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
.img-profile {
    height: 2rem;
    width: 2rem;
}
.profile-font {
    color: #111111 !important;
    font-size: 80%;
    font-weight: 400;
}
.card-header {
    background-color: #eb1fcf;
    border-bottom: 1px solid #e3e6f0;
}
.modopanel {
    background-color: #7a1258;

}